################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/BlacklistManager/.vs
/src/BlacklistManager/BlacklistManager.Cli/Properties/launchSettings.json
*.user
*.development.json
bin
obj
TestResults
out
/src/.scannerwork
/src/.sonarqube/conf
/.pumafile
/src/BlacklistManager/.vs
/src/.vs
